<div class="row" id="mainContent">
	<div class="col-md-2" >
        <div class="panel">
	        <div class="panel-body" id="features">
	        	<p class="lead" href="#features">Features:</p>
	            <a class="list-group-item" href="#models">Models</a>
	            <a class="list-group-item" href="#focus">Focus</a>
	            <a class="list-group-item" href="#exclusion">Exclusion</a>
	            <a class="list-group-item" href="#abstraction">Abstraction</a>
        	</div>
        </div>
        <div class="panel">
        	<div class="panel-body" id="functions">
        		<p class="lead">Functions In The Sample File:</p>
        		<div id=functionNames>
        		</div>
        	</div>
        </div>
    </div>
    <div class="col-md-7" id="beginSymbolicExecution">
    	<button class="btn btn-default" id="Step" onclick="getNext()">Begin Symbolic Execution</button>
    	<div id="graph"></div>    
    </div>
    
	<div class="col-md-3 panel" id="codePanel">
		<div class="code" id="filecode" >
			<div id="codedata">
				<p class="panel-body lead">Code:</p>
			</div>
		</div>
	</div>	 
</div>